#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

* {
    position: relative;
}

/* Define hover effects for markers */

.hotspot {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.hotspot a {
    width: 100px;
    z-index: 1;
}


.hotspot__start,
.hotspot__after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hotspot__start {
    width: 40px;
    height: 40px;
}

.hotspot__after {
    width: 100px;
    height: 100px;
    z-index: 100;
    transform-origin: center;
    transform: translate(-50%, -50%) scale(0.1);
    transition: opacity 0.5s, transform 0.5s !important;
    opacity: 0;
    pointer-events: none;
}

.hotspot:hover:not(.active) .hotspot__after {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.hotspot_desc {
    display: none;
}

/* **************** Top Menu ******************** */
#top__menu {
    position: absolute;
    left: 44px;
    top: 20px;
    width: 100%;
    pointer-events: all;
    white-space: nowrap;
    text-align: right;
    padding-right: 26px;
    transition: opacity 0.5s;
    display: flex;
    align-items: flex-start;
}

.top__menu--title {
    position: absolute;
    left: 50%;
    transform: translateX(-77%);
    text-align: center;
}

.top__menu--title__buondon {
    position: absolute;
    left: 50%;
    transform: translateX(-90%);
    text-align: center;
}

.top__menu--name {
    margin-top: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: auto;
    margin-bottom: 12px;
}

.top__menu--desc {
    font-size: 16px;
    font-weight: 500;
    line-height: auto;
}

.bot__menu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
}

.bot__menu--button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: white;
    margin: 0 44px;
}

.bot__menu--content {}

.content__go {
    font-size: 14px;
    font-weight: 400;
    line-height: auto;
}

.content__place {
    font-size: 18px;
    font-weight: 700;
    line-height: auto;
}

#guide-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    z-index: 1000;
    pointer-events: none;
}

#guide-text p {
    margin-top: 19px;
}